.toolsImg {
	float: right;
}

#left {
	float: left;
}

#center {
	margin: 20;
	float: left;
}
#right {
	margin: 20;
	float: left;
}

#left-bottom {
	border:0px;padding:3px; PADDING:0px; width:150px; height:560px; LINE-HEIGHT: 20px; OVERFLOW-y: auto; 
}
#left-all {
	float: left;
	width:150px;
	margin-top: 60px;
}

.m_top {
	margin-top: 20px;
	width: 321px;
	height: 70px;
}

.m_center {
	width: 321px;
	height: 453px;
}
.m_center_center {
	width: 257px;
	height: 453px;
	float: left;
}
.m_center_border {
	height: 453px;
	width: 32px;
	float: left;
}
.m_bottom {
	width: 321px;
	height: 77px
}
.toolsImg {
	width:20px;
	height: 20px;
	float:right;
	marginBottom:10px; 
}


.tree {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #21252B;
}
.m-node.placeholder {
  border: 1px dashed #1385e5;
}
.m-node .inner {
  color: #9DA5B4;
  font-size: 12px;
  font-family: Menlo;
}
.m-node .node {
  display: inline-block;
  width: 100%;
  padding: 4px 5px;
}
.m-node .node.is-active {
  background-color: #31363F;
}
.m-node .children {
  transition: 1s;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
.inspector {
  margin-left: 400px;
}
.inspector pre {
  font-family: Menlo;
  font-size: 13px;
}


